body {
  margin: 0;
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.8;
  display: block;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: block;
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 0 10px;
  display: inline-block;
}

a {
  color: seashell;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding: 70px 0;
}

#store .item {
  padding: 5px;
}

#store img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding: 70px 0;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.flex-container.locations {
  padding-top: 5px;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  height: 200px;
}

footer {
  text-align: left;
  margin-left: 20px;
}